
<!-- WRITTEN BY ATHUL NANDASWAROOP -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="id1" type="text" value="A Message">
<button type="button" onclick="socket.emit('message', $('#id1').val())">Emit</button>
<br>
<textarea id="id2" style="width: 300px; height: 300px"></textarea>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    console.log($('#id1').val())
    const socket = io('http://localhost:8000');
    socket.on("response", function (data) {
        $('#id2').val($('#id2').val() + '\n' + $('#id1').val() + '->' + data)
    });

</script>
</body>